@use 'base';
@import url('https://fonts.googleapis.com/css?family=Barlow:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');


* {
  margin  : 0;
  padding : 0;
  }

a {
  color : base.$color_magenta;
  }


body {

  background-color : black /* base.$color_background;*/
  }

header {
  background-color : base.$color_background;
  justify-content  : space-between;
  min-height       : 15vh;
  max-height       : 25vh;

  h1 {
	color : base.$color_turquise;
	}
  }

nav {
  background-color : base.$color_steel_blue;

  margin-top       : 2vh;
  padding          : 2vh 0;

  ul {
	flex-wrap       : wrap;
	justify-content : space-evenly;
	list-style-type : none;
	}
  }

main {
  background-color : base.$color_gray;
  //min-height       : 70vh;
  padding          : 0 2vw;

  div {
	margin : 20px;
	}
  }

footer {
  background-color : base.$color_background;
  }

.mainframe {
  margin     : auto;
  max-width  : 1200px;
  min-height : 100vh;
  }

.grid-conatiner {
  display               : grid;
  grid-template-columns : 1fr;
  grid-template-rows    : auto auto auto;
  }

.text-heading {
  text-align : center;
  }

.head-row {
  align-items     : center;
  justify-content : space-between;
  padding         : 1vh 2vw;
  }

.contact {
  margin : auto;
  }

.flex-column {
  display        : flex;
  flex-direction : column;
  }

.flex-row {
  display        : flex;
  flex-direction : row;
  }

.textstyle-heading {
  font-family : 'Barlow', sans-serif;
  }

.textstyle-text {
  font-family : 'Open Sans', sans-serif;
  }