@use 'base';
@import url('https://fonts.googleapis.com/css?family=Barlow:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
  margin  : 0;
  padding : 0;
  }

a {
  color : base.$color_turquise;
  }


body {

  background-color : black /* base.$color_background;*/
  }

header {
  background-color : base.$color_turquise;
  justify-content  : space-between;
  min-height       : 20vh;
  }

nav {
  ul {
	list-style-type : none;
	justify-content : space-evenly;
	flex-wrap       : wrap;
	}

  margin-top       : 2vh;
  padding          : 2vh 0;
  background-color : base.$color_magenta;
  }

main {
  background-color : base.$color_steel_blue;
  padding          : 0 2vw;
  min-height       : 80vh;

  div {
	margin : 20px;
	}
  }

footer {
  background-color : base.$color_background;
  }

.mainframe {
  max-width : 1300px;
  margin    : auto;
  }

.grid-conatiner {
  display               : grid;
  grid-template-columns : 1fr;
  grid-template-rows    : auto auto auto;
  }

.text-heading {
  text-align : center;
  }

.head-row {
  align-items     : center;
  justify-content : space-between;
  padding         : 1vh 2vw;
  }

.contact {
  margin : auto;
  }

.flex-column {
  display        : flex;
  flex-direction : column;
  }

.flex-row {
  display        : flex;
  flex-direction : row;
  }

.textstyle-heading {
  font-family : 'Barlow', sans-serif;
  }

.textstyle-text {
  font-family : 'Open Sans', sans-serif;
  }