@use 'base';


//.contact {
//  margin : auto;
//  }

footer {
  background-color : base.$color_background;
  }

.foot_row {
  align-items     : center;
  height          : 100%;
  justify-content : space-evenly;
  list-style-type : none;
  width           : 100%;

  a {
	color           : base.$color_gray;
	font-weight     : bold;
	text-decoration : none;
	}
  }
