@use 'base';
@import url('https://fonts.googleapis.com/css?family=Barlow:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');


* {
  margin  : 0;
  padding : 0;
  }

*::selection {
  color : base.$color_magenta;
  }

body {
  background-color : black /* base.$color_background;*/
  }

header {
  grid-area : head;
  }

nav {
  grid-area : nav;
  }

main {
  grid-area : main;
  }

footer {
  grid-area : foot;
  }

.flex-column {
  display        : flex;
  flex-direction : column;
  }

.flex-row {
  display        : flex;
  flex-direction : row;
  }

.grid-conatiner {
  display               : grid;
  grid-template-columns : 1fr 1fr;
  }

.grid_desktop {
  grid-template-rows  : 30vh 10vh 50vh 10vh;
  grid-template-areas : "head head" "nav nav" "main main" "foot foot";
  @media screen and (max-width : 700px) {

	}
  }

.grid_mobile {
  @media screen and (max-width : 700px) {
	grid-template-rows : 30vh 50vh 10vh;
	}
  }

.grid_mobile_menu_hidden {
  @media screen and (max-width : 700px) {
	grid-template-areas : "head head" "main main" "foot foot";
	}
  }

.grid_mobile_menu_shown {
  @media screen and (max-width : 700px) {
	grid-template-areas : "nav head" "nav main" "nav foot";
	}
  }


.hover-blue:hover {
  color : base.$color_turquise;
  }

.hover-magenta:hover {
  color : base.$color_magenta;
  }

#mainframe {
  margin     : auto;
  max-width  : 900px;
  min-height : 100vh;
  }

.textstyle-heading {
  font-family : 'Barlow', sans-serif;
  }

.textstyle-text {
  font-family : 'Open Sans', sans-serif;
  }

