@use 'base';


main {
  background-color : base.$color_background;
  color            : base.$color_gray;
  overflow         : auto;
  //min-height       : 70vh;
  padding          : 0 2vw;

  div {
	margin : 20px;
	}
  }
