@use 'base';


nav {
  background-color : base.$color_background;
  padding          : 2vh 0;
  }

.nav_row {
  justify-content : space-evenly;
  list-style-type : none;

  a {
	color           : base.$color_gray;
	font-size       : larger;
	font-weight     : bold;
	text-decoration : none;
	}
  }
